NEXT_PUBLIC_DEV_HOST=XXX
NEXT_PUBLIC_PROD_HOST=XXX

DEV_CMS_URL=XXX
PROD_CMS_URL=XXX

NEXT_PUBLIC_GA_ID=XXX

OERAPI_ACCESS_KEY=XXX

NEXT_PUBLIC_PAYPAL_CLIENT_ID=XXX
NEXT_PUBLIC_PAYPAL_MERCHANT_ID=XXX

NODEMAILER_SENDER_EMAIL=XXX
NODEMAILER_SENDER_EMAIL_PASSWORD=XXX